<h1>probando aqui la vaina</h1>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minima in cum esse accusamus eum veritatis deleniti tempore incidunt, dolor deserunt reprehenderit rem perferendis facilis nemo vel, ex, dignissimos veniam!</p>
		</div>
		<div class="col-md-2">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minima in cum esse accusamus eum veritatis deleniti tempore incidunt, dolor deserunt reprehenderit rem perferendis facilis nemo vel, ex, dignissimos veniam!</p>
		</div>
		<div class="col-md-2">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minima in cum esse accusamus eum veritatis deleniti tempore incidunt, dolor deserunt reprehenderit rem perferendis facilis nemo vel, ex, dignissimos veniam!</p>
		</div>
		<div class="col-md-2">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minima in cum esse accusamus eum veritatis deleniti tempore incidunt, dolor deserunt reprehenderit rem perferendis facilis nemo vel, ex, dignissimos veniam!</p>
		</div>
		<div class="col-md-2">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minima in cum esse accusamus eum veritatis deleniti tempore incidunt, dolor deserunt reprehenderit rem perferendis facilis nemo vel, ex, dignissimos veniam!</p>
		</div>
		<div class="col-md-2">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minima in cum esse accusamus eum veritatis deleniti tempore incidunt, dolor deserunt reprehenderit rem perferendis facilis nemo vel, ex, dignissimos veniam!</p>
		</div>
	</div>
</div>